/* Decending delector */
main p{
    color: red;
}

/* Child Selector */               
h1 > p {
    color: blue;
}

/* Adjesting sibbling */
/* section + p {
    color: rgb(157, 255, 0);
} */
section ~ p {
    color: rgb(157, 255, 0);
}

/* Attribute selector */

